common --enable_bzlmod
common --bes_results_url=https://app.buildbuddy.io/invocation/
common --bes_backend=grpcs://remote.buildbuddy.io
common --remote_cache=grpcs://remote.buildbuddy.io
common --remote_download_toplevel # Helps remove network bottleneck if caching is enabled
common --remote_timeout=3600

common --test_output=errors

common --watchfs
common --noexperimental_check_output_files
common --nolegacy_external_runfiles
