common --enable_bzlmod
# Helps remove network bottleneck if caching is enabled
common --remote_download_toplevel
common --remote_timeout=3600

common --test_output=errors

common --watchfs
common --noexperimental_check_output_files
common --nolegacy_external_runfiles

common --incompatible_autoload_externally=
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1

common:enable-reload --@rules_itest//:enable_per_service_reload
