common --enable_bzlmod
common --remote_download_toplevel # Helps remove network bottleneck if caching is enabled
common --remote_timeout=3600

common --test_output=errors

common --watchfs
common --noexperimental_check_output_files
common --nolegacy_external_runfiles
