[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION
max_allowed_packet=64M
default_time_zone='+00:00'
explicit_defaults_for_timestamp=ON
innodb_use_native_aio=0
innodb_buffer_pool_size=67108864
innodb_flush_log_at_trx_commit=0
innodb_doublewrite=0
innodb_checksum_algorithm=none
max_binlog_size=128M
range_optimizer_max_mem_size=67108864
server_id=10
max_connections=500
enforce_gtid_consistency=ON
gtid_mode=ON

disable_log_bin
mysqlx=0
